.banner {
    margin-top: 60px;

    &-frame {
        height: calc(100vh - 60px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //animation: kenburns-top 10s ease-in-out infinite alternate backwards;
        position: relative;
    }
}

.txt-frame {
    @extend %flex-box;
    height: 100%;
    align-items: center;
    color: white;
    word-break: break-all;

    @media (max-width: $bp-sm) {
        padding: 0rem 2rem;
    }
    h2 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 120%;
        margin-bottom: 0rem;
        margin-bottom: 1.5rem;

        @media (max-width: $bp-lg) {
            font-size: 2.5rem;
        }
        @media (max-width: $bp-md) {
            font-size: 2rem;
        }
        @media (max-width: $bp-sm) {
            font-size: 1.8rem;
            letter-spacing: 3px;
        }
    }
    h3 {
        font-size: 2rem;
        font-weight: 600px;
        letter-spacing: 5px;
        line-height: 120%;
        margin-bottom: 0.8rem;

        @media (max-width: $bp-lg) {
            font-size: 1.8rem;
        }
        @media (max-width: $bp-md) {
            font-size: 1.5rem;
        }
        @media (max-width: $bp-sm) {
            font-size: 1.15rem;
            letter-spacing: 3px;
        }
    }
    p {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 5px;
        margin-bottom: 0rem;

        @media (max-width: $bp-lg) {
            font-size: 1rem;
            letter-spacing: 3px;
        }
    }
}

.view {
    overflow: hidden;
    margin-bottom: 5rem;
    @media (max-width: $bp-md) {
        padding: 3rem;
        margin-bottom: 3rem;
    }
    @media (max-width: $bp-sm) {
        padding: 1rem;
        margin-bottom: 2rem;
    }
}

.swiper-for {
    padding: 0rem 5rem;
    overflow: hidden;
    @media (max-width: $bp-lg) {
        padding: 0rem 2rem;
    }
    @media (max-width: $bp-md) {
        padding: 0rem;
    }
    .photo {
        height: 80vh;
        width: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @extend %flex-box;
        align-items: end;

        @media (max-width: $bp-xl) {
            height: 60vh;
        }

        @media (max-width: $bp-lg) {
            height: 50vh;
        }

        @media (max-width: $bp-md) {
            height: 40vh;
        }

        &::before {
            content: attr(data-discribe);
            color: white;
            font-size: 1rem;
            text-align: center;
            letter-spacing: 3px;
            width: 100%;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            padding: 0.5rem 0rem;
            margin-top: auto;
        }
    }

    .swiper-button {
        &-prev {
            left: 7rem;
            color: white;
            opacity: 0.5;
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
            @media (max-width: $bp-xl) {
                left: 3rem;
            }
            @media (max-width: $bp-md) {
                left: 1rem;
                &:after {
                    font-size: 2rem;
                }
            }
        }
        &-next {
            right: 7rem;
            color: white;
            opacity: 0.5;
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
            @media (max-width: $bp-xl) {
                right: 3rem;
            }
            @media (max-width: $bp-md) {
                right: 1rem;
                &:after {
                    font-size: 2rem;
                }
            }
        }
    }
}

.view .sub {
    padding: 1.5rem 5rem;
    @media (max-width: $bp-lg) {
        padding: 1.5rem 2rem;
    }
    @media (max-width: $bp-md) {
        padding: 1rem 0rem;
    }
    .photo {
        height: 140px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $bp-lg) {
            height: 120px;
        }
        @media (max-width: $bp-md) {
            height: 80px;
        }
    }
}

.swiper-nav {
    .swiper-slide-visible {
        position: relative;
        .photo::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: white;
            opacity: 0.7;
            transition: 0.3s ease-in-out;
        }
        &:hover {
            .photo::before {
                background-color: var(--color-primary);
                opacity: 0.5;
            }
        }
    }
    .swiper-slide-thumb-active {
        .photo::before {
            opacity: 0;
        }
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: white;
    opacity: 0.3;
    border-radius: 5rem;
    transition: 0.3s ease-in-out;

    &-active {
        width: 32px;
        opacity: 1;
    }
}
